@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
button,
[role="button"] {
  cursor: pointer;
}
svg{
  display: block;
  vertical-align: middle;
}


.container{
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
}
@media (max-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (max-width: 768px){
  .container {
    max-width: 768px;
  }
}
@media (max-width: 640px){
  .container {
    max-width: 640px;
  }
}

/* calendar_container */
.calendar_container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  max-width: 56rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px){
  .calendar_container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px){
  .calendar_container{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.calendar_list_item{
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(156 163 175 / 0.2);
  background-color: rgb(255 255 255 / 1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* calendar */
.calendar_date_list{
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(100 116 139 / 1);
}
.calendar_week_names{
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(107 114 128 / 1);
  pointer-events: none;
}
.calendar_header{
  display: flex;
  align-items: center;
}
.calendar_h2{
  margin-left: 0.5rem;
  flex: 1 1 auto;
  font-weight: 600;
  pointer-events: none;
  color: rgb(17 24 39 / 1);
}
.calendar_next_prev_btn{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: -0.375rem;
  margin-bottom: -0.375rem;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(209 213 219 / 0.5);
  padding: 0.375rem;

  color: rgb(107 114 128 / 1);
}
.calendar_next_prev_btn:hover{

  background-color: rgb(229 231 235 / 1);

  color: rgb(75 85 99 / 1);
}
.next_prev_icon{
  height: 1.25rem;
  width: 1.25rem;
}
.calendar_card{
  margin: 0px;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px){
  .calendar_inner > :not([hidden]) ~ :not([hidden]){

    border-right-width: calc(1px * 0);
    border-left-width: calc(1px * calc(1 - 0));

    border-color: rgb(229 231 235 / 1);
  }
}
/* calendar grid  */
.start-2{
  grid-column-start: 2;
}
.start-3{
  grid-column-start: 3;
}
.start-4{
  grid-column-start: 4;
}
.start-5{
  grid-column-start: 5;
}
.start-6{
  grid-column-start: 6;
}
.start-7{
  grid-column-start: 7;
}
.padding_y{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.calendar_relative{
  position: relative;
}
/* calendar button  */
.calender_default_btn{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.calender_default_btn time{
  line-height: 1;
  pointer-events: none;
}
.current_date_btn{

  background-color: rgb(34 197 94 / 1);

  color: rgb(255 255 255 / 1);
}
.selected_date_btn{
  background-color: rgb(14 165 233 / 0.2);

  color: rgb(100 116 139 / 1);
}
.previous_next_month_btn{
  pointer-events: none;
  background-color: rgb(100 116 139 / 0.5);

  color: rgb(255 255 255 / 1);
  opacity: 0.7;
}
/* time table card */
.selected_hour{
  background-color: rgb(34 197 94 / 0.5);

  color: rgb(255 255 255 / 1);
}
/* start hours css */
.hours_container{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hours_wraper{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  /* gap: 1.25rem; */
  max-width: 1080px;
  margin: 2rem auto;
  padding: 0 1rem;
}
@media (max-width: 1024px){
  .hours_wraper{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: 1024px;
  }
}

@media (max-width: 768px){
  .hours_wraper {
    max-width: 768px;
  }
}
@media (max-width: 640px){
  .hours_wraper {
    max-width: 640px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 374px){
  .hours_wraper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 1rem;
  }
}


.hours_header_wraper{
  display: flex;
  width: 100%;
  max-width: 24rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.go_next_prev_hr{
  margin-top: -0.375rem;
  margin-bottom: -0.375rem;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(209 213 219 / 0.5);
  padding: 0.375rem;

  color: rgb(107 114 128 / 1);
}
.go_next_prev_hr:hover{

  background-color: rgb(229 231 235 / 1);

  color: rgb(75 85 99 / 1);
}
.go_next_prev_hr_icon{
  height: 1.25rem;
  width: 1.25rem;
}
.current_hr_text{
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;

  color: rgb(100 116 139 / 1);
}
@media (min-width: 768px){
  .current_hr_text{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1024px){
  .current_hr_text{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hour_group{
  padding: 0.5rem;
  margin: 0.2rem;
  border-width: 1px;
  border-color: rgb(156 163 175 / 0.2);
}
.get_current_date{
  font-family: 'Poppins','Courier New', Courier, monospace;
  padding-bottom: 0.5rem;
  font-weight: 600;
  pointer-events: none;
  text-align: center;
  color: rgb(118, 119, 121);
}
.hr_container{
  font-family: 'Poppins', sans-serif;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: inherit;
    font-size: 1rem;
    line-height: inherit;
    word-wrap: break-word;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    position: relative;
    display: grid;
    width: 100%;
    max-width: 80rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;

}

@media (max-width: 425px){
  .hr_container{
    /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
  }
}

.hr_card_item{
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(156 163 175 / 0.2);
  background-color: rgb(255 255 255 / 1);
  box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
@media (min-width: 1024px){
  .hr_card_item{
    max-width: 20rem;
  }
}
.hr_tab_item{
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(156 163 175 / 0.2);
  background-color: rgb(255 255 255 / 1);
  box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.hr_card_content{
  margin: 0px;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px){
  .hr_card_body > :not([hidden]) ~ :not([hidden]){

    border-right-width: calc(1px * 0);
    border-left-width: calc(1px * calc(1 - 0));
    border-color: transparent;
  }
}
.p_relative{
  position: relative;
  padding: 1rem;
}
.relative_card{
  position: relative;
}
.hr_card_header{
  display: flex;
  align-items: center;
}
.hr_card_title{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: start;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;

  color: rgb(107 114 128 / 1);
}
.hr_card_save{
  position: relative;
  width: auto;
}
.hr_card_save_btn{
  border-radius: 9999px;
  background-color: rgb(56 189 248 / 1);
  padding: 0.45rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  line-height: 0.25rem;
  font-weight: 600;
  color: rgb(255 255 255 / 1);
}
.hr_card_save_btn.inactive{
  opacity: 0.9;
}
.icon_4{
  height: 1rem;
  width: 1rem;
}
.hr_btns_container{
  margin-top: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  gap: 0.375rem;
  font-size: 0.5rem;
  line-height: 0.25rem;
  color: rgb(255 255 255 / 1);
}
.hr_time_btn{
  font-size: 0.65rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


@media (max-width: 768px){
  .hr_time_btn {
    font-size: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media (max-width: 640px){
  .hr_time_btn {
    font-size: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
.tac{
  text-align: center;
}
.hr_time_btn.disabled{
  pointer-events: none;
  background-color: rgb(100 116 139 / 0.5);

  color: rgb(255 255 255 / 1);
  opacity: 0.7;
}
.hr_time_btn.normal{
  color: rgb(255 255 255 / 1);
  background-color: rgb(248 113 113 / 1);
}
.hr_time_btn.normal:hover{
  color: rgb(255 255 255 / 1);
  background-color: rgb(239 68 68 / 1);
}
.hr_time_btn.a{

  background-color: rgb(202 138 4 / 1);

  color: rgb(255 255 255 / 1);
}
.hr_time_btn.a:hover{

  background-color: rgb(161 98 7 / 1);
}
.hr_time_btn.b{

  background-color: rgb(234 179 8 / 1);

  color: rgb(255 255 255 / 1);
}
.hr_time_btn.b:hover{

  background-color: rgb(202 138 4 / 1);
}
.hr_time_btn.h{

  background-color: rgb(148 163 184 / 1);

  color: rgb(255 255 255 / 1);
}
.hr_time_btn.h:hover{

  background-color: rgb(100 116 139 / 1);
}
.hr_time_btn.a_selected{

  background-color: #ffcc00;

  color: rgb(255 255 255 / 1);
}
.hr_time_btn.a_selected:hover{

  background-color: #ffcc00;
}
.hr_time_btn.b_selected{
  background-color: #ffe888;
  color: rgb(255 255 255 / 1);
}
.hr_time_btn.b_selected:hover{
  background-color: #ffe888;
}
.hr_time_btn.h_selected{
  background-color: #cccccc;
  color: rgb(255 255 255 / 1);
}
.hr_time_btn.h_selected:hover{
  background-color:  #cccccc;
}
.hr_time{
  pointer-events: none;
}
.hr_tabs{
  margin: 0px;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hr_tab_header{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;

  background-color: rgb(255 255 255 / 1);
}
.hr_tab_btn{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.hr_tab_btn.selected{
  border-width: 1px;
  border-color: rgb(100 116 139 / 0.1);
  background-color: rgb(209 213 219 / 1);
  color: rgb(55 65 81 / 1);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.hr_tab_btn.selected:hover{

  background-color: rgb(255 255 255 / 1);

  color: rgb(31 41 55 / 1);
}
.hr_tab_btn.normal{
  border-width: 1px;
  border-color: rgb(107 114 128 / 0.1);

  color: rgb(107 114 128 / 1);
}
.hr_tab_btn.normal:hover{

  background-color: rgb(255 255 255 / 1);

  color: rgb(75 85 99 / 1);
}
.hr_tab_body{
  margin-top: 0.5rem;
}
/* popup */
.hr_submit_popup{
  position: absolute;
  right: -50%;
  z-index: 10;
  margin-top: 0.75rem;
  width: 20rem;
  max-width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px){
  .hr_submit_popup{
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 768px){
  .hr_submit_popup{
    right: 0;
    width: 15rem;
  }
}
@media (min-width: 1024px){
  .hr_submit_popup{
    width: 14rem;
    border: 1px solid #80808061;
    border-radius: 0.5rem;
  }
}
.hr_popup_container{
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255 / 1);
  padding: 0.75rem;
  max-width: 15rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.hr_popup_card{
  display: grid;
}
.hr_popup_content{
  position: relative;
  width: 100%;
}
.hr_popup_text{
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.hr_popup_select{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.hr_popup_footer_container{
  position: relative;
  width: 100%;
}
.hr_footer_btns{
  display: flex;
  justify-content: flex-end;
}
.hr_popup_cancel_btn{
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  background-color: rgb(248 113 113 / 1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  color: rgb(255 255 255 / 1);
}
.hr_popup_ok_btn{
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  background-color: rgb(56 189 248 / 1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  color: rgb(255 255 255 / 1);
}
.hr_popup_enter{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.hr_popup_enterFrom{
  transform: translate(0.25rem) ;
  opacity: 0;
}
.hr_popup_enterTo{
  transform: translate(0px);
  opacity: 1;
}
.hr_popup_leave{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.hr_popup_leaveFrom{
  transform: translate(0px);
  opacity: 1;
}
.hr_popup_leaveTo{
  transform: translate(0.25rem);
  opacity: 0;
}
#timeTableDates{
  position: relative;
  width: 100%;
}
.not_same_month{
  background: whitesmoke;
}
.not_same_month:hover{
  background: rgba(94, 89, 89, 0.705);
  color: white;
}


/* top of week */
.week_container{
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.week_item{
  position: relative;
  padding: 0.4rem 0.8rem;
  background: whitesmoke;
  margin: 0 0.5rem;
  border-radius: 5rem;
  color: rgb(100 116 139);
}

.week_item.active{
  background: rgb(34 197 94 / 1);
  color: white;
}

.week_item svg{
  fill:  rgb(100 116 139);
}




/* popup */
.popup_calendar{
  position: absolute;
  z-index: 10;
  margin-top: 2.75rem;
  padding: 0 1rem;
  width: 20rem;
  max-width: 100%;
}

.calendar_popup_item{
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(156 163 175 / 0.2);
  background-color: rgb(255 255 255 / 1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.popup_calendar_card{
  margin: 0px;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pos_relative{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hr_time_btn.hr-5{
  margin-bottom:1rem ;
}
.hr_time_btn.heading{
  background: whitesmoke;
}